{% extends 'landing/base.html' %}

{% load crispy_forms_tags %}


{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-5 col-sm-6">
                <a class="btn btn-light" href=" {% url 'profile' object.pk %}  "> Back To Profile </a>
            </div>
        </div>

        <div class="row justify-content-center mt-3">
            <div class="col-md-5 col-sm-12 border-bottom">

               <h5>Update your Profile</h5>
            </div>
        </div>


        <div class="row justify-content-center mt-3 mb-5">
            <div class="col-md-5 col-sm-12 border-bottom">

               <form action="" enctype="multipart/form-data" method="POST">

                {% csrf_token%}

                   {{form | crispy}}

                   <div class="d-grid gap-2">
                       <button class="btn btn-success mt-3">Update!</button>
                   </div>
               </form>
            </div>
        </div>
        
        
    </div>
{% endblock content %}
    